// Wordpress color classes
// Text colors
.has-text-color,
.has-inline-color{
	&.has-mpc-yellow-color{
		color: $yellow;
	}
	&.has-mpc-blue-color{
		color: $blue;
	}
	&.has-mpc-light-color{
		color: $light;
	}
	&.has-mpc-dark-color{
		color: $dark;
	}
	&.has-mpc-gray-light-color{
		color: $gray-light;
	}
	&.has-mpc-gray-dark-color{
		color: $gray-dark;
	}
	&.has-mpc-gray-color{
		color: $gray;
	}

	&.has-blue-color{
		color: $blue;
	}
	&.has-indigo-color{
		color: $indigo;
	}
	&.has-purple-color{
		color: $purple;
	}
	&.has-pink-color{
		color: $pink;
	}
	&.has-red-color{
		color: $red;
	}
	&.has-orange-color{
		color: $orange;
	}
	&.has-yellow-color{
		color: $yellow;
	}
	&.has-green-color{
		color: $green;
	}
	&.has-teal-color{
		color: $teal;
	}
	&.has-cyan-color{
		color: $cyan;
	}
	&.has-gray-light-color{
		color: $gray-light;
	}
	&.has-gray-dark-color{
		color: $gray-dark;
	}
	&.has-gray-color{
		color: $gray;
	}
	&.has-light-color{
		color: $light;
	}
	&.has-dark-color{
		color: $dark;
	}
	&.has-white-color{
		color: $white;
	}
	&.has-black-color{
		color: $black;
	}
}
// Background colors
.has-background{
	padding: 1rem 1.5rem;
	border-radius: .25rem;
	&.has-mpc-yellow-background-color{
		background-color: $yellow;
	}
	&.has-mpc-blue-background-color{
		background-color: $blue;
	}
	&.has-mpc-light-background-color{
		background-color: $light;
	}
	&.has-mpc-dark-background-color{
		background-color: $dark;
	}
	&.has-mpc-gray-light-background-color{
		background-color: $gray-light;
	}
	&.has-mpc-gray-dark-background-color{
		background-color: $gray-dark;
	}
	&.has-mpc-gray-background-color{
		background-color: $gray-dark;
	}

	&.has-blue-background-color{
		background-color: $blue;
	}
	&.has-indigo-background-color{
		background-color: $indigo;
	}
	&.has-purple-background-color{
		background-color: $purple;
	}
	&.has-pink-background-color{
		background-color: $pink;
	}
	&.has-red-background-color{
		background-color: $red;
	}
	&.has-orange-background-color{
		background-color: $orange;
	}
	&.has-yellow-background-color{
		background-color: $yellow;
	}
	&.has-green-background-color{
		background-color: $green;
	}
	&.has-teal-background-color{
		background-color: $teal;
	}
	&.has-cyan-background-color{
		background-color: $cyan;
	}
	&.has-gray-light-background-color{
		background-color: $gray-light;
	}
	&.has-gray-dark-background-color{
		background-color: $gray-dark;
	}
	&.has-gray-background-color{
		background-color: $gray;
	}
	&.has-light-background-color{
		background-color: $light;
	}
	&.has-dark-background-color{
		background-color: $dark;
	}
	&.has-white-background-color{
		background-color: $white;
	}
	&.has-black-background-color{
		background-color: $black;
	}
}
