#header{
    background: $blue;
    justify-content: flex-end;
    flex-direction: column;
    transition: all 150ms ease-in-out;
    .navbar-toggler{
        border: 0;
    }
    &.nav-open{
        background: rgba($white, 1) !important;
    }
    .container-fluid{
        padding: 0 1.25rem;
    }
}
.navbar-dark .navbar-nav .nav-link{
    color: $white;
}
