/****************************************************************
 SPACING
****************************************************************/
/* Padding */
.content-pad-sm{
	padding-top: 3%;
	padding-bottom: 3%;
}
.content-pad-md{
	padding-top: 6%;
	padding-bottom: 6%;
}
.content-pad-lg{
	padding-top: 12%;
	padding-bottom: 12%;
}
.content-pad-xlg{
	padding-top: 18%;
	padding-bottom: 18%;
}
