// Reset
body, p, ol, ul {
  font-family: $font-body;
}
h1, h2, h3, h4, h5, h6{
    font-family: $font-headline;
    font-weight: $font-weight-bold;
    margin-top: 0;
}
h1{
    font-size: $h1-font-size;
}
h2{
    font-size: $h2-font-size;
}
h3{
    font-size: $h3-font-size;
}
h4{
    font-size: $h4-font-size;
}
h5{
    font-size: $h5-font-size;
}
h6{
    font-size: $h6-font-size;
}
p{
    line-height: revert !important;
}

// Text Sizes
.has-smaller-font-size{
	font-size: $font-size-sm;
}
.has-small-font-size{
	font-size: $font-size-sm;
}
.has-medium-font-size{
	font-size: $font-size-md;
}
.has-large-font-size{
	font-size: $font-size-lg;
}
.has-larger-font-size{
	font-size: $font-size-lg;
}
.has-extra-large-font-size{
	font-size: $font-size-lg * 1.5;
}