.entry-meta{
    position: relative;
    margin: 0 -1rem;
    font-size: smaller;
    &::before{
        content: '';
        display: block;
        border-bottom: 1px solid $hos-gray-alt;
        width: 100%;
        position: absolute;
        top: 50%;
        z-index: -1;
    }
    .col-left{
        display: flex;
    }
    .entry-date{
        flex:1;
    }
    .entry-tags{
        flex:4;
    }
    span{
        background: $white;
        padding: 1rem;
    }
}
