.card{
    overflow: hidden;
    padding: 0;
    max-width: 100%;
    margin: 0;
    transition: all 200ms ease-in-out;
    margin-bottom: 1.25rem;
    .card-image{
        position: relative;
        overflow: hidden;
        position: relative;
        padding-top: 54.25%;
        height: 100%;
        img,
        a{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        img{
            top: 50%;
            transform: translate(0, -50%);
            height: 100%;
        }
    }
    .card-body{
        .card-title{
            a{
                color: inherit;
                text-decoration: none;
                &:hover{
                    text-decoration: revert;
                }
            }
        }
        .card-action{
            margin: 0;
        }
    }
    .card-header,
    .card-footer{
        display: none;

    }
    &.card-dark{
        .card-body{
            display: block;
            background: $black;
            color: $white;
        }
        .card-title{
            margin: .5rem .25rem;
        }
    }
    &.card-min{
        .card-body{
            >p,
            >.card-text,
            >.card-action{
                display: none;
            }
        }
    }
}
