/****************************************************************
 WIDTH
****************************************************************/
.content-width-sm{
	max-width: 960px;
}
.content-width-md{
	max-width: 1170px;
}
.content-width-lg{
	max-width: 1440px;
}
.content-width-xlg{
	max-width: 100%;
}
