/****************************************************************
 WIDTH
****************************************************************/
.max-width-sm{
	max-width: $width_sm;
}
.max-width-md{
	max-width: $width_md;
}
.max-width-lg{
	max-width: $width_lg;
}
.max-width-xl{
	max-width: $width_xl;
}
.max-width-xxl{
	max-width: $width_xxl;
}
.max-width-auto{
	max-width: $width_full;
}
