// Variables
@import 'variables';

// Libraries
// Bootstrap
@import 'bootstrap';

// WP Block Editor
.editor-styles-wrapper{
	font-family: $font-body !important;
	font-size: $font-size-base;
	// Partials
	@import './partials/typography';
	@import './partials/color';
	@import './partials/card';


	// Post title
	.edit-post-visual-editor__post-title-wrapper{
		padding-top: 1rem;
		margin-top: -1rem !important;
	}

	// Blocks
}

// Misc
legend{
	font-size: revert;
}
