
/**************************************************************
BUTTONS / LINKS
**************************************************************/
/* Primary */
a.button,
.button,
button,
input[type="submit"],
input[type="button"]{
  -webkit-appearance: none !important;
  appearance:none !important;
  -moz-appearance:none !important;
  color: #fff;
  font-size: 16px;
  display: inline-block;
    cursor: pointer;
  min-height: 40px;
    padding: 10px 25px;
    background:#3073A2;
  text-align:center;
  outline: 0;
  border:0;
  text-decoration:none;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  border-radius: 4px;
}
a.button:hover,
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover{
  background:#21587e;
  color:#fff;

}
a.button.disabled,
.button.disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled{
    background:#eeeeee;
  border-color: #ccc;
  color:#cccccc;
  pointer-events: none;
  cursor:not-allowed;
}

/* Secondary */
.button-secondary,
a.button-secondary,
button.button-secondary{
  background: #fff;
  color: #333;
  font-size: 14px;
  border:1px solid #eee;
}
.button-secondary:hover,
a.button-secondary:hover{
  background:#555;
}

/* Small Button */
a.button-sml{
  font-size: 14px;
  padding: 5px 15px;
  min-height: 20px;
}

/**************************************************************
BASE INPUTS
**************************************************************/
label{
  display: block;
  margin-bottom:5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background:#fff;
  border:1px solid #eee;
  width: 100%;
  outline:none;
  padding:5px 15px;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  appearance: none !important;
  font-size: 16px;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  font-family: 'Ubuntu', helvetica, arial, sans-serif;
  position: relative;
  border-radius: 4px;
}
select::-ms-expand {
    display: none;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  min-height: 50px;
  max-height: 50px;
}
textarea {
  min-height:150px;
  padding:15px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:hover {
  border-color:#333;
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
}
select{
  cursor: pointer;
  padding: 12px 15px;
}
.custom-select{
  position: relative;
  display: block;
}
.custom-select:after{
    content: '\f078';
    font-family: "FontAwesome" !important;
    font-size: 14px;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    pointer-events: none;
}
input[type="checkbox"],
input[type="radio"]{
  position: relative;
  top:-1px;
}

/*************************************************************************************
FORM ELEMENTS
*************************************************************************************/
/* Dyamic In-Field Labels */
form.bt-form input[type='text'],
form.bt-form input[type='email'],
form.bt-form input[type='tel'],
form.bt-form select,
form.bt-form textarea{
    padding:1rem 1rem  .25rem 1rem !important;
    width: 100%;
    font-size: 1rem;
    min-height: 50px;
}
form.bt-form textarea{
    min-height: 150px;
    padding-top: 1.4rem !important;
}
form.bt-form label.bt-label{
    position: absolute;
    left: 1rem;
    line-height: 3.125rem;
    z-index: 1;
    top: 0;
    transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    pointer-events: none;
    color: #999;
    font-size: 1rem;
}
form.bt-form label.has-value{
    color: #999;
    font-size: .7rem;
    line-height: 1.9rem;
}
/* Form select */
form.bt-form .bt-select select {
    cursor:pointer;
    padding: 1rem;
}
form.bt-form .bt-select:after{
    margin-top: -12px;
}

/* Radio & Checkbox */
.bt-radio,
.bt-checkbox {
    display:inline-block;
    cursor: pointer;
    position: relative;
  padding: 6px 15px;
    font-size: 16px;
}
form.bt-form .bt-checkbox,
form.bt-form .bt-radio{
  padding-left:40px;
}
form.bt-form input[type=radio],
form.bt-form input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}
form.bt-form .bt-checkbox:before,
form.bt-form .bt-radio:before {
    content:"";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
  background: #fff;
  border:1px solid #e4e4e4;
  top:50%;
  margin-top: -15px;
  border-radius: 50%;
}
form.bt-form .bt-checkbox.selected:before,
form.bt-form .bt-radio.selected:before{
  background: #3073A2;
  border-width: 8px;
  border-color: #e4e4e4;
}
