/**************************************************************
GLOBAL RESET
**************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*, html {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
*, *:before, *:after {
  box-sizing:inherit;
  -webkit-box-sizing:inherit;
  -moz-box-sizing:inherit;
}
::-webkit-input-placeholder {
   color: #A1A1A1;
}
:-moz-placeholder { /* Firefox 18- */
   color: #A1A1A1;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #A1A1A1;
}
:-ms-input-placeholder {
   color: #A1A1A1;
}
::-moz-selection { background: #ccc; }
::selection { background: #ccc; }

/**************************************************************
GLOBAL
**************************************************************/
body{
  font-family: 'Ubuntu', helvetica, arial, sans-serif;
  font-weight: 400;
  font-weight: normal;
  margin:0;
  padding:0;
  color: #555;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body.noscroll{
  overflow: hidden;
}

/* Images */
img, a img,
a img{
  width:auto;
  height:auto !important;
  display:block;
  max-width: 100%;
  border:none;
  outline: none;
}
img.full-width{
  width: 100% !important;
}
