/**************************************************************
TYPOGRAOPHY
**************************************************************/
/* Headings */
h1, h2, h3, h4, h5, h6{
  font-family: 'Bitter', Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  margin-bottom:1rem;
  color:#333;
  font-weight: bold;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 21px;
}
h5{
  font-size: 18px;
}
h6{
  font-size:18px;
  text-transform: uppercase;
}

/* Paragraph */
p{
  margin:10px 0 15px 0;
  line-height: 1.5em;
}
strong, b{
  font-weight: bold;
  font-weight: 700;
}
em, i{
  font-style: italic;
}

/* alignment */
.align-ctr{
  text-align: center;
}
.align-rgt{
  text-align: right;
}
.align-lft{
  text-align: left;
}
.off-rt{
  float: right;
}
.off-lft{
  float:left;
}
.off-ctr{
  float: none !important;
  margin-left:auto;
  margin-right:auto;
  display: block !important;
}
@media screen and (max-width:740px){
  .off-rt{
    float: none;
  }
  .off-lft{
    float:none;
  }
}

/* text */
.txt-low{
  text-transform: none !important;
}
.txt-cap{
  text-transform: uppercase !important;
}

/* Links */
a, a:active,
a:visited{
  color:#3399CC;
  text-decoration:none;
  transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  outline: 0;
}
a:hover{
  color:#79CAF2;
}

/* Blockquote */
blockquote{
  margin: 40px auto;
  max-width: 960px;
    border-left: 4px solid #eee;
    padding-left: 20px;
    font-size: 21px;
  font-weight: 300;
  font-weight: lighter;
}
blockquote em,
blockquote i{
  font-style: normal;
}

/* Lists */
ol{
  list-style: decimal;
  margin-left: 30px;
}
ul{
  list-style: disc;
  margin-left: 30px;
}

/* Responsiveness */
@media (max-width: 640px) {
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 21px;
  }

  p{
    font-size: 15px;
  }
}
