// Single post
body.single-post{
    background: $light;    
    .entry-title{
        &::before{
            content: '';
            display: block;
            background: $yellow;
            height: 4px;
            border-radius: .25rem;
            width: 100%;
            max-width: 100px;
            margin-bottom: .5rem;
            margin-top: 1rem;
        }
    }

    .entry-excerpt{
        display: none;
    }

    .entry-meta{
        margin-top: 0;
    }

    .entry-thumb{
        padding-top: 30%;
        margin: 0;
        margin-bottom: 3rem;
        background: $blue;
        img{
            max-width: 85%;
            left: unset;
            right: 0;
        }
    }
}
